.alldevices {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url(../img/unsplash_lpjb_UMOyx8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.alldevices__wrapper-box {
    @include limit(42px, 57px);

    @media (max-width: 767px) {
        & {
            @include limit(43px, 25px);
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            @include limit(28px, 38px);
        }
    }

    .box__devices {
        //position: relative;
        padding-top: 59px;
        margin: 0 auto;

        @media (max-width: 767px) {
            & {
                padding-top: 36px;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            & {
                padding-top: 39px;
            }
        }

        .devices {
            background: url(../img/Daco_624857\ 2.png);
            display: flex;
            justify-content: center;
            background-size: auto 95%;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            position: relative;

            .map-case {
                height: 520px;
                object-fit: cover;
                width: 100%;

                @media (max-width: 767px) {
                    & {
                        height: 219px;
                        width: 100%;
                    }
                }

                @media (min-width: 768px) and (max-width: 1024px) {
                    & {
                        height: 356px;
                        background-size: cover;
                    }
                }
            }
        }

        .mobile {
            position: absolute;
            height: 410px;
            object-fit: cover;
            top: 45%;
            right: 18%;

            @media (max-width: 767px) {
                & {
                    height: 175px;
                    top: 50%;
                    right: 9%;
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    height: 280px;
                    right: 24%;
                }
            }
        }
    }
}